html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "GilroyRegular";
    src: url("../fonts/GilroyRegular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GilroyMedium";
    src: url("../fonts/GilroyMedium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GilroySemiBold";
    src: url("../fonts/GilroySemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "FedraSansProBold";
    src: url("../fonts/FedraSansProBold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "FedraSansProNormal";
    src: url("../fonts/FedraSansProNormal.ttf");

}
@keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(1.0);
    }

    70% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
.wrapper {
    margin: 0 auto;
    max-width: 965px;
}

.wrapper-header {
    margin: 0 auto;
    max-width: 1300px;
}

.header {
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usluga-text,
.marka-text {
    font-family: 'GilroySemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #000000;
    margin-left: 13px;
}

.usluga,
.marka {
    align-items: center;
    display: flex;
}

.about,
.contacts {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: #FF6401;
}

video {
    object-fit: initial;
    width: 1519.2px;
    height: 700px;
}

.video {
    position: relative
}

.video::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.video-bg>video {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
}

.about-block,
.cools-block,
.uslugi-row,
.marks-row,
.team-block,
.otz-block,
.form-block {
    padding-top: 100px;
    display: flex;
    padding-bottom: 80px;
}

.about-block-text,
.uslugi-block-text,
{
display: flex;
flex-direction: column;
}

.hr {
    border: 1px solid #FF0329;
    width: 260px;
    margin: 0;
    height: 0px;
    margin-right: 20px;
    margin-top: 8px;
}

h1 {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
    color: #000000;
}

.h1-btm {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.cools-block-text {
    position: relative;
}

.line {
    display: block;
    position: absolute;
    top: 113px;
    left: 230px;
    width: 50px;
    height: 0px;
    border: 1px solid #000000;
}

.line1 {
    display: block;
    position: absolute;
    top: 205px;
    left: 230px;
    width: 50px;
    height: 0px;
    border: 1px solid #000000;
}

.line2 {
    display: block;
    position: absolute;
    top: 125px;
    left: 700px;
    width: 50px;
    height: 0px;
    border: 1px solid #000000;
}

.line3 {
    display: block;
    position: absolute;
    top: 215px;
    left: 700px;
    width: 50px;
    height: 0px;
    border: 1px solid #000000;
}

.cools-text {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-top: 48px;
}

.cools-cool {
    display: flex;
    flex-direction: column;
}

.cools-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-big {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.cools-button {
    border: none;
    background: #FF0329;
    border-radius: 27px;
    width: 200px;
    height: 53px;
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.button-div {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.card {
    background: url(../img/1\ 614517807.png ) no-repeat;
    width: 340px;
    height: 450px;
    padding: 20px;
}

.card-border {
    width: 300px;
    height: 410px;
    border: 1px solid #FFFFFF;
    margin: 0;
}

.card-text {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height */
    padding-bottom: 280px;
    padding-top: 24px;
    padding-left: 22px;
    color: #FFFFFF;

}

.card-button {
    border: none;
    background: #FF0329;
    border-radius: 27px;
    width: 200px;
    height: 53px;
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    margin-left: 54px;
}

.uslugi-cards-row {
    display: flex;
    justify-content: space-between;
}

.card-big {
    background: url(../img/obslujivanie\ 1.png ) no-repeat;
    width: 1000px;
    height: 449px;
    padding: 20px;
    background-size: 926px;
}

.card-border-big {
    width: 885px;
    height: 435px;
    border: 1px solid #FFFFFF;
    margin: 0;
}

.card-text-big {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height */
    padding-bottom: 300px;
    padding-top: 24px;
    padding-left: 22px;
    color: #000000;

}

.card-button-big {
    border: none;
    background: #FF0329;
    border-radius: 27px;
    width: 200px;
    height: 53px;
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    margin-left: 22px;
}

.marks-button {
    border: none;
    background: #FFFFFF;
    border: 1px solid #000000;
    width: 160px;
    height: 80px;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.button-row {
    display: flex;
    justify-content: space-between;
}

.button-big {
    text-align: center;
}

.button-big {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.big-txt {
    padding-bottom: 18px;
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    padding-top: 28px;
    color: #000000;
}

.big-txt-low {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}

.marks-row {
    padding-bottom: 20px;
}

.marks-block {
    padding-bottom: 50px;
}

.sayavka {
    background: url(../img/bg-gray-black\ 1.png);
    width: auto;
    height: 376px;
}

.sayavka-text-cont {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 94px;
}

.sayavka-text {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 73px;
    color: #FFFFFF;
}

.sayavka-button {
    background: #FFFFFF;
    border: 1px solid #FF0329;
    border-radius: 27px;
    width: 200px;
    height: 53px;
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FF0329;
}

.footer {
    background: url(../img/bg-red\ 1.png);
    width: auto;
    height: 300px;
    padding-top: 93px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 28px;
    color: #000000;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.footer-center {
    display: flex;

}

.center-text,
.right-text,
.right-text1 {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 28px;
    color: #000000;
}

.right-flex1 {
    display: flex;
    justify-content: space-between;
}

.right-text1 {
    margin-right: 29px;
}

.socials {
    padding-top: 24px;
    padding-left: 220px;
}

.video-text {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    /* identical to box height */
    position: absolute;
    z-index: 99;
    left: 43%;
    top: 50px;
    color: #ffffff;
}

.team-img {
    padding-top: 45px;
}

.otz-name {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    padding-bottom: 24px;

    color: #000000;
}

.otz-desc {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height */


    color: #000000;
}

.otz-img {
    padding-right: 45px;
}

.otz-card {
    padding-top: 48px;
    padding-left: 50px;
    width: 836px;
    display: flex;
    align-items: flex-start;
}

.input3,
.input {
    background: #FFFFFF;
    border: 1px solid #000000;
    width: 382px;
    height: 60px;
}

.form {
    padding-top: 40px;
}

.input3 {
    margin-right: 82px;
}

.input1 {
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-top: 40px;
    width: 856px;
    height: 200px;
}

input::placeholder {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    padding-left: 56px;

    color: #000000;
}

.send {
    border: none;
    background: #FF0329;
    width: 200px;
    height: 53px;
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

.send-cont {
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.video-text {
    position: absolute;
    left: 0;
    display: flex;
}

h2 {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    padding-bottom: 38px;

    color: #FF0329;
}

.h2-btm {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 32px;
    color: #FF0329;

}

.map {
    display: flex;
    align-items: center;
}

.contact-cont-text {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
   padding-bottom: 20px;
   padding-left: 40px;

    color: #FFFFFF;

}
.contact-cont-text:first-child{
    padding-top: 10px;
}
.contact-cont-text1{
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
   padding-bottom: 10px;
   padding-left: 40px;
   padding-right: 55px;

    color: #FFFFFF;
}
.contact-cont{
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 520px;
    height: 300px;
}
.contact-border{
    border: 1px solid #FFFFFF;
    height: 294px;
}
.icons-cont-text{
    display: flex;
    align-items: center;
}
.contact-img{
    padding-bottom: 20px;
}
.auth {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-top: 150px;
    height: 568px;
    justify-content: center;
    display: none;
}

.auth.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 999;
}

.form-block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.form-auth {
    border-radius: 30px;
    background: #FFFFFF;
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: center;
}

.input {
    background: #FFFFFF;
    border: 1px solid #000000;
    width: 520px;
    height: 68px;
    margin-bottom: 38px;
}

.input::placeholder {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    padding-left: 30px;

    color: #000000;

}

.reg {
    border: none;
    background: #FF0329;
    border-radius: 21px;
    width: 288px;
    height: 68px;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

.x,.x2 {
    margin-left: 500px;
    border: none;
    background: #FFFFFF;
    color: #FF0329;
    cursor: pointer;
}

.reg-link,.reg-link2 {
    text-align: center;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    
    color: #000000;
}
.ss{
    padding-top: 25px;
    text-align: center;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    
    color: #000000;
}
.reg-block {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-top: 150px;
    height: 568px;
    justify-content: center;
    display: none;
}

.reg-block.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 999;
}
.pop-block{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-top: 150px;
    height: 568px;
    justify-content: center;
    display: none;
}
.pop-block.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 999;
}
a{
    cursor: pointer;
}
.products-link{
    padding-top: 25px;
    text-align: center;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 20px;
    text-decoration: none;
}
.x3{
    margin-left: 500px;
    border: none;
    background: #FFFFFF;
    color: #FF0329;
    cursor: pointer;
}
.team-img {
    padding-top: 45px;
}

.otz-name {
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    padding-bottom: 24px;

    color: #000000;
}

.otz-desc {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height */


    color: #000000;
}

.otz-img {
    padding-right: 45px;
}

.otz-card {
    padding-top: 48px;
    padding-left: 50px;
    width: 836px;
    display: flex;
    align-items: flex-start;
}

.input3,
.input {
    background: #FFFFFF;
    border: 1px solid #000000;
    width: 382px;
    height: 60px;
}

.form2 {
    padding-top: 40px;
}

.input3 {
    margin-right: 82px;
}

.input1 {
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-top: 40px;
    width: 856px;
    height: 200px;
}

input::placeholder {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    padding-left: 56px;

    color: #000000;
}

.send {
    border: none;
    background: #FF0329;
    width: 200px;
    height: 53px;
    font-family: 'FedraSansProBold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

.send-cont {
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.auth {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-top: 150px;
    height: 568px;
    justify-content: center;
    display: none;
    animation: popup 0.7s;
}

.auth.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    animation: popup 0.7s;
    z-index: 999;
}

.form-block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.form-auth {
    border-radius: 30px;
    background: #FFFFFF;
    width: 600px;
    height: 550px;
    display: flex;
    justify-content: center;
}

.input {
    background: #FFFFFF;
    border: 1px solid #000000;
    width: 520px;
    height: 68px;
    margin-bottom: 38px;
}

.input::placeholder {
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    padding-left: 30px;

    color: #000000;

}

.reg {
    border: none;
    background: #FF0329;
    border-radius: 21px;
    width: 288px;
    height: 68px;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

.x,
.x2 {
    margin-left: 500px;
    border: none;
    font-size: 24px;
    background: #FFFFFF;
    color: #FF0329;
    cursor: pointer;
}

.reg-link,
.reg-link2 {
    text-align: center;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

.ss {
    padding-top: 25px;
    text-align: center;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

.reg-block {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-top: 150px;
    height: 568px;
    justify-content: center;
    display: none;
    transition: all 0.5s ;
}

.reg-block.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 999;
    animation: popup 0.7s;
}

.pop-block {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    padding-top: 150px;
    height: 568px;
    justify-content: center;
    display: none;
    animation: popup 0.7s;
}

.pop-block.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 999;
    animation: popup 0.7s;
}

a {
    cursor: pointer;
}

.products-link {
    padding-top: 25px;
    text-align: center;
    font-family: 'FedraSansProNormal';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 20px;
    text-decoration: none;
}

.x3 {
    margin-left: 500px;
    border: none;
    background: #FFFFFF;
    color: #FF0329;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.usluga-text:hover,
.marka-text:hover {
    color: #FF0329;
    transition: all 0.5s ;
}
.x,
.x2,.x3 {
    margin-left: 500px;
    border: none;
    font-size: 24px;
    background: #FFFFFF;
    color: #FF0329;
    cursor: pointer;
}